:root {
  --r-main-color: #333;
  --r-heading-color: #333;
  --r-heading-text-transform: none;
}

.reveal {
  font-size: 24px;
}

.reveal .slides section {
  text-align: left;
}

blockquote,
pre {
  margin-inline: 0 !important;
  width: 100% !important;
  box-sizing: border-box;
  box-shadow: none !important;
  background-color: #eee !important;
}

.hljs {
  background-color: #eee !important;
}

blockquote {
  padding-inline: 20px !important;
}

pre {
  font-size: 0.8em !important;
}

pre code {
  padding: 26px !important;
}

.MathJax_Display {
  text-align: left !important;
}
